<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Request Permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Request Features -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furniture4U"
        tools:targetApi="31">
        <activity
            android:name="my.fa250.furniture4u.com.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.com.AddAddressActivity"
            android:exported="false"
            android:label="@string/title_activity_add_address"
            android:theme="@style/Theme.Furniture4U.NoActionBar" />
        <activity
            android:name="my.fa250.furniture4u.com.AddressActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.com.CartActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.com.ShowAllActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.com.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.com.HomePageActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.auth.EmailRegisterActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.auth.EmailLoginActivity"
            android:exported="false" />
        <activity
            android:name="my.fa250.furniture4u.auth.MultipleSignInActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="my.fa250.furniture4u.ar.testAR"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="my.fa250.furniture4u.ar.checkARSupported"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="my.fa250.furniture4u.test"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="my.fa250.furniture4u.auth.Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="my.fa250.furniture4u.MainActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
<activity
            android:name="my.fa250.furniture4u.ml.MlActivity"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        </activity>
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />
    </application>

</manifest>